$bColor: var(--background-color);
$cColor: #cfcfcf;

.aboutPage {
  width: 80%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px 20px;

  /* Firefox */
  scrollbar-width: none;

  /* Webkit */
  &::-webkit-scrollbar {
    display: none;
  }

  main {
    .clouds {
      position: relative;
      width: 60%;

      .main, .second, .first {
        background: $cColor;
        border-radius: 100%;
        opacity: 0;
      }

      .main {
        padding: 8%;
        margin-bottom: 5%;
        text-align: center;
        color: $bColor;
        animation: fadein 3s forwards 1.5s;
      }

      .second {
        position: absolute;
        left: 25%;
        bottom: -15%;
        width: 30px;
        height: 24px;
        animation: fadein 2s forwards 1s;
      }

      .first {
        position: absolute;
        left: 30%;
        bottom: -32%;
        width: 20px;
        height: 16px;
        animation: fadein 2s forwards 0.5s;
      }
    }

    img {
      display: block;
      margin: auto;
      position: relative;
      width: 60%;
      max-width: 400px;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .aboutPage {
    width: 100%;

    header {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 800px) {
  .aboutPage main {
    .clouds {
      width: 100%;

      .main {
        margin-bottom: 10%;
      }

      .second {
        left: 10%;
      }

      .first {
        left: 15%;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .aboutPage main .clouds {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  .aboutPage main .clouds {
    margin-left: 10%;
  }
}
