.transitionLink {
  position: relative;
  
  .arrow {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    border-left: none;
    border-top: none;
    border-right: 2px #111 solid;
    border-bottom: 2px #111 solid;

    &.up {
      transform: rotate(-135deg);
    }

    &.down {
      transform: rotate(45deg);
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 20px;
      height: 20px;
      top: 50%;
      margin: -10px 0 0 -10px;
      border-left: none;
      border-top: none;
      border-right: 1px #111 solid;
      border-bottom: 1px #111 solid;
      animation: arrow 2s infinite;
    }
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
