.contactPage {
  width: 80%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px 20px;

  main {
    margin: 10px;

    p {
      text-align: center;
      margin-bottom: 5%;

      a {
        color: var(--defaultColor);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .contactPage {
    width: 100%;
    
    header {
      text-align: center;
    }

    main p {
      margin-bottom: 10%;
    }
  }
}
