.homePage {
  width: 80%;
  height: 100%;
  overflow: hidden;

  .title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .homePage {
    width: 100%;
  }
}
