$letterSize: 410, 332, 386, 279, 312, 343, 550, 195, 396, 198, 376, 386, 332, 410, 332, 386, 346;
$letterTime: 1.7s, 1.3s, 1s, .6s, .3s, .3s, .8s, 1s, 1.4s, 1.6s, 1.4s, 1.1s, .7s, .4s, .7s, 1.1s, 1.4s;

#logo {
  width: 60vmax;
  height: 20vmax;
}

@for $i from 2 to 19 {
  #logo path:nth-child(#{$i}) {
    stroke-dasharray: nth($letterSize, $i - 1);
    stroke-dashoffset: nth($letterSize, $i - 1);
    animation: anim 2s ease forwards nth($letterTime, $i - 1);
  }
}

@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (max-width: 500px) {
  #logo {
    width: 84vmin;
    height: 30vmin;
  }
}
