$dColor: var(--default-color);
$bColor: var(--background-color);

.messageForm {
  div {
    position: relative;
    margin-bottom: 10px;

    textarea {
      min-width: 100%;
      max-width: 100%;
      height: 200px;
    }

    .input {
      width: 100%;
      padding: 20px 12px 9px 12px;
      box-sizing: border-box;
      position: relative;
      background: none;
      color: $dColor;
      font-family: inherit;
      font-size: 1.2em;
      border: 1.5px solid $dColor;
      border-radius: 2px;
      z-index: 1;

      &:focus {
        border: 1.5px solid white;
        background-color: white;
        color: $bColor;
        outline: none;
        transition: background-color .5s;

        &:focus ~ label,
        &:not(:focus):valid ~ label {
          color: $bColor;
        }
      }

      &:focus ~ label,
      &:not(:focus):valid ~ label {
        font-size: 0.6em;
        padding: 6px 12px;
        z-index: 2;
      }
    }

    label {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      color: $dColor;
      transition: 0.2s ease all;
    }
  }

  .submit {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: $dColor;
    color: $bColor;
    border: transparent;
    border-radius: 2px;

    &.loading {
      background-color: $bColor;
      color: $dColor;
    }
  }
}
