$dcolor: var(--default-color);
$bColor: var(--background-color);

.projectsPage {
  width: 80%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 5px 20px;

  /* Firefox */
  scrollbar-width: none;

  /* Webkit */
  &::-webkit-scrollbar {
    display: none;
  }

  .table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .element {
      margin: 5%;
      margin-bottom: 10%;
      width: 40%;
      box-sizing: border-box;

      h3 {
        margin: 0;
        a {
          color: $dcolor;
        }
      }

      img {
        margin: 20px auto 0 auto;
        width: 90%;
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .projectsPage {
    width: 100%;

    header {
      text-align: center;
    }

    .table {
      .element {
        width: 90%;
      }
    }
  }
}
