$dColor: var(--default-color);

.navigation {
  position: sticky;
  top: 0;
  width: 10%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .item {
    margin: 15px;
    position: relative;
    text-decoration: none;

    &:hover {
      img {
        display: none;
      }
      .name {
        display: block;
      }
    }

    &:first-child img {
      opacity: 0.7;
    }

    img {
      width: 20px;
      height: 20px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &.dim {
      opacity: 0.3;
    }

    .name {
      text-align: center;
      color: $dColor;
      font-size: medium;
      display: none;
    }
  }
}

@media (hover: none) {
  .navigation .item:hover img {
    transform: none;
  }
}

@media only screen and (max-width: 500px) {
  .navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    border-top: solid 1px $dColor;

    .item {
      &:hover img {
        display: block;
      }

      .name {
        font-size: small;
        display: block;
      }
    }
  }
}
//#8AA99A, #004a62, #d6c4a3, #bf6542, #c6460e;
