:root {
  --default-color: #e8b297;
  --background-color: #004a62;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  background-color: var(--background-color);
  color: var(--default-color);
}

@media only screen and (max-width: 500px) {
  #root {
    flex-direction: column-reverse;
  }
}